BirdNET-Analyzer
.DS_Store
*.tflite
# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
venv.bak/
pip-wheel-metadata/
*.egg-info/
.eggs/
dist/
build/
pip-log.txt
.python-version
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.mypy_cache/
.pyre/
.pytype/

# C / C++
# Object files, libraries, executables, debug files
*.o
*.obj
*.lo
*.la
*.al
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
a.out
core
*.dSYM/
*.dwo
*.pdb
*.ilk
*.opendb
*.su
*.gcno
*.gcda

# Build directories and tools
build/
bin/
obj/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.make
install_manifest.txt

# Misc
*.log
*.tmp
.vscode/
.idea/